@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit, sans-serif;
}

body{
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); /* optional for slight upward motion */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  scroll-behavior: smooth;
}
